body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: space-between;
  background-color: rgb(255, 43, 255);
}

main {
  flex-grow: 1;
}

.team-spot {
  text-shadow: 1px 1px black;
}